* {
  box-sizing         : border-box;
  -moz-box-sizing    : border-box;
  -webkit-box-sizing : border-box;
  font-family: "DejaVu Sans",Verdana,Geneva,sans-serif;
}

body {
  background : #f0f0f0;
}

h1 { 
  margin-left:60px;
  font-family: "DejaVu Sans",Verdana,Geneva,sans-serif;
  font-weight:bold;
  font-size:48px;
}
/*
p {
  margin-top    : 0;
  margin-bottom : 6px;
  font-size     : 13px;
  font-weight   : 300;
  color         : #595959;
}

a {
  text-decoration    : none;
  color              : rgb(0,155,194);
  -webkit-transition : color 0.2s;
  -moz-transition    : color 0.2s;
  -ms-transition     : color 0.2s;
  -o-transition      : color 0.2s;
  transition         : color 0.2s;
}

a:hover {
  color: rgb(83, 192, 235);
}*/

img {vertical-align:middle; margin:auto 3px;}

.table-sort tbody tr:hover {background:#fadfcf;}

#add_form {
  position:absolute;
  left:0;
  bottom:60px;
  width:96%;
  margin:0 2%;
  z-index:1000;
}
.add_form_container {
  padding:10px;
  background-image : -webkit-linear-gradient(bottom,rgb(63,63,63),rgb(73,73,73));
  background-image : -ms-linear-gradient(bottom,rgb(63,63,63),rgb(73,73,73));
  background-image : -o-linear-gradient(bottom,rgb(63,63,63),rgb(73,73,73));
  background-image : -moz-linear-gradient(bottom,rgb(63,63,63),rgb(73,73,73));
  background-image : linear-gradient(bottom,rgb(63,63,63),rgb(73,73,73));
}
#add_app {
	margin :5px auto;
	padding:10px;
	background: rgb(240, 240, 240);
}

.hs,.statut {display:none}

.fk {cursor:pointer}

input[type="text"] {height:30px;}

#login_form input {height:30px;}

.staroff {
	display:block;
	width:48px;
	height:16px;
	background: transparent url("../images/staroff.png") no-repeat;
	margin-top:2px;
	margin-right:5px;
	float:left;
}
.star {
	display:block;
	height:16px;
	width:0;
	background: transparent url("../images/star.png") no-repeat;
}

.description>span {
	background:#fadfcf;
	position:absolute;
	display:none;
	margin-left:22px;
	padding:0 6px 6px 6px;
	border-radius: 0 0 6px 6px;	
	min-width:500px;
	z-index:999;
}
.description:hover>span {display:block;}

.tip>.over {
	background:#fadfcf;
	position:absolute;
	display:none;
	margin-left:30px;
	width:80px;
}
.tip:hover>.over {display:block}

td:nth-child(10) .tip>.over {margin-left:42px}

#add_btn {position:absolute;top:10px;left:8px;}
#logout_btn {position:absolute; top:10px; right:8px;}
#login_btn {position:absolute; top:10px; right:8px;}
#info_btn {position:absolute; top:10px; right:54px;}
.votes {
	font-weight:bold;
	font-size:9px !important;
	display:block;
	margin-left:50px;
	margin-top:-23px;
	color:#aaa;
}

#colselect {
	float:right;
	margin:20px 20px 0 0;
	width:300px
}
#colselect label{width:140px;}

#cartbox {
	float:right;
	margin:20px 0;
	width:170px
}

#cartbox a i {
	background : url(../images/cart.png) no-repeat;
	display:block;
	width:24px;
	height:24px;
	float:left;
	margin:10px 0;
}
#cartcount {
	font-weight:bold;
	color: rgb(12, 91, 122);
}

.table-sort input[type="checkbox"] {
	margin-top:10px;
	float:left;
}

#bot_results tr td:nth-child(1),#bot_head tr th:nth-child(1) {width:80px;}
#bot_results tr td:nth-child(2),#bot_head tr th:nth-child(2) {width:70px;}
#bot_results tr td:nth-child(3),#bot_head tr th:nth-child(3) {width:auto;}
#bot_results tr td:nth-child(4),#bot_head tr th:nth-child(4) {width:90px;}
#bot_results tr td:nth-child(5),#bot_head tr th:nth-child(5) {width:150px;}
#bot_results tr td:nth-child(6),#bot_head tr th:nth-child(6) {width:100px;}
#bot_results tr td:nth-child(7),#bot_head tr th:nth-child(7) {width:150px;}
#bot_results tr td:nth-child(8),#bot_head tr th:nth-child(8) {width:150px;}
#bot_results tr td:nth-child(9),#bot_head tr th:nth-child(9) {width:150px;}
#bot_results tr td:nth-child(10),#bot_head tr th:nth-child(10) {width:150px;}

/* On n'affiche pas les colonnes FramaDVD */
#bot_results tr td:nth-child(7),#bot_head tr th:nth-child(7) {display:none;}
#bot_results tr td:nth-child(8),#bot_head tr th:nth-child(8) {display:none;}


.header,.body,.footer {
	position:absolute;
	width:96%;
	margin:0 2%;
}

.header { 
	height: 100px;
	top: 50px;
}
.body { 
	top: 180px;
	bottom: 60px;
	overflow-y:auto;
	overflow-x:hidden;
	clear:both;
}
.footer { 
	height: 60px;
	bottom: 0;
}
